#astrologyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#astrologyContainer input[type="date"] {
    margin-bottom: 10px;
}

#astrologyResults {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    padding: 10px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 0px; /* Add margin to separate from the result container */
  }
  
  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 40px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    color: #000;
  }
  
  .result-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #result {
    text-align: center;
  }